.login-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .5em;
    font-size: 1rem;
}

#app[data-theme="light"] .login-status {
    color: var(--text-light);
}

#app[data-theme="dark"] .login-status {
    color: var(--text-dark);
}

.login-status #notLoggedIn {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.login-status #notLoggedIn p:first-of-type {
    margin-bottom: .75rem;
}

.login-status #notLoggedIn.hidden {
    display: none;
}

.login-status #loggedIn {
    display: flex;
    width: max-content;
}

.login-status #loggedIn.hidden {
    display: none;
}

.login-status #notLoggedIn a,
.login-status #loggedIn a {
    display: flex;   
    flex-direction: row; 
    column-gap: .5rem;
}

.login-status #notLoggedIn img,
.login-status #loggedIn img {
    width: 1.625rem;
}

.login-status #loggedIn.hidden {
    display: none;
}

.login-status p {
    font-size: 1rem;
}

.login-status p a {
    font-size: 1rem;
}