.my-garage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 .25em;
}

#app[data-theme="light"] .my-garage {
    border-left: 1px solid var(--border-light);
    border-right: 1px solid var(--border-light);
}

#app[data-theme="dark"] .my-garage {
    border-left: 1px solid var(--border-dark);
    border-right: 1px solid var(--border-dark);
}

.my-garage.hidden {
    display: none;
}

.my-garage a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-garage p {
    font-size: 16px;
    margin-bottom: .25em;
}

.my-garage img {
    min-width: 85px;  
    max-width: 140px;
}