.my-garage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    padding: 0 .25em;
}

.my-garage.hidden {
    display: none;
}

.my-garage a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-garage p {
    font-size: 16px;
    color: #242424;
    margin-bottom: .25em;
}

.my-garage img {
    min-width: 85px;  
    max-width: 140px;
}