.nav-menu-btn {
    --x-width: calc(var(--nav-menu-btn-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--nav-menu-btn-bar-gap);
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.nav-menu-btn.hidden {
    display: none;
}

.nav-menu-btn input,
.nav-menu-btn::before,
.nav-menu-btn::after {
    content: "";
    width: var(--nav-menu-btn-bar-width);
    height: var(--nav-menu-btn-bar-height);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing-default),
                width var(--animation-timing-default),
                rotate var(--animation-timing-default),
                translate var(--animation-timing-default),
                background-color var(--animation-timing-default);
}

.nav-menu-btn input {
    appearance: none;
    margin: 0;
    padding: 0;
    outline: none;
    pointer-events: none;
}

.nav-menu-btn input:checked {
    width: 0;
    opacity: 0;
}

.nav-menu-btn:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 8px calc(var(--nav-menu-btn-bar-height) / -2);
}

.nav-menu-btn:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 8px calc(var(--nav-menu-btn-bar-height) / 2);
}

#app[data-theme="light"] {
    .nav-menu-btn input,
    .nav-menu-btn::before,
    .nav-menu-btn::after {
        background-color: var(--background-light);
    }

    .nav-menu-btn:has(input:checked)::before {
        background-color: var(--theme-colour-light-mode);
    }

    .nav-menu-btn:has(input:checked)::after {
        background-color: var(--theme-colour-light-mode);
    }

    .nav-menu-btn:has(input:checked) {
        background-color: var(--background-light);
    }

    .nav-menu-btn input:focus-visible,
    .nav-menu-btn:has(input:focus-visible)::before,
    .nav-menu-btn:has(input:focus-visible)::after {
        border: 1px solid var(--text-dark);
        box-shadow: 0 0 0 1px var(--text-dark);
    }
}

#app[data-theme="dark"] {
    .nav-menu-btn input,
    .nav-menu-btn::before,
    .nav-menu-btn::after {
        background-color: var(--background-dark);
    }

    .nav-menu-btn:has(input:checked)::before {
        background-color: var(--theme-colour-dark-mode);
    }

    .nav-menu-btn:has(input:checked)::after {
        background-color: var(--theme-colour-dark-mode);
    }

    .nav-menu-btn:has(input:checked) {
        background-color: var(--background-dark);
    }

    .nav-menu-btn input:focus-visible,
    .nav-menu-btn:has(input:focus-visible)::before,
    .nav-menu-btn:has(input:focus-visible)::after {
        border: 1px solid var(--text-dark);
        box-shadow: 0 0 0 1px var(--text-light);
    }
}