header {
  display: grid;
  grid-template-areas: "homelink title title . nav-menu-btn";
  position: sticky;
  height: min-content;
  align-items: center;
}

#app[data-theme="light"] header {
  background-color: var(--theme-colour-light-mode);
  color: var(--text-light);
  border-bottom: 1px solid var(--border-dark);
  transition: background-color var(--animation-timing-slower), color var(--animation-timing-slower), border-bottom var(--animation-timing-slower);
}

#app[data-theme="dark"] header { 
  background-color: var(--theme-colour-dark-mode);
  color: var(--text-dark);
  border-bottom: 1px solid var(--border-light);
  transition: background-color var(--animation-timing-slower), color var(--animation-timing-slower), border-bottom var(--animation-timing-slower);
}

header #header-company-wrapper {
  display: flex;
  flex-direction: row;
}

header #header-company-homelink {
  grid-area: homelink;
  width: max-content;
}

header #header-company-homelink #header-wheel-logo {
  width: 4rem;
}

header #header-company-name {
  grid-area: title;
  width: 12.5rem;
}

header #nav-menu-btn {
  grid-area: nav-menu-btn;
  width: max-content;
  align-self: center;
  justify-self: center;
  padding-right: .5rem;
}

/* xs breakpoint */
@media (min-width: 425px) {
  header #header-company-name {  
  width: 18rem;
  }
}

/* sm breakpoint */
@media (min-width: 640px) {
   header {
    grid-template-areas: "homelink title title title my-garage login-status";
   }

   header #header-company-homelink #header-wheel-logo {
    width: 5rem;
  }

  header #header-company-name {
    width: 20.5rem;
  }

  header #my-garage {
    grid-area: my-garage;
    height: -webkit-fill-available;
    justify-content: center;
  }

  header #login-status {
    grid-area: login-status;
    height: -webkit-fill-available;
    justify-content: center;
  }
}

/* md breakpoint */
@media (min-width: 768px) {
  header #header-company-homelink #header-wheel-logo {
    width: 6rem;
  }

  header #header-company-name {
    width: 26rem;
  }
}

/* lg breakpoint */
@media (min-width: 1024px) { 
  header #header-company-homelink #header-wheel-logo {
    width: 8rem;
  }

  header #header-company-name {
    width: 34rem;
  }
}