.navbar-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "main-nav main-nav . . theme-toggle";
  align-items: center;
  height: min-content;
  padding: .25em 1em;
  position: sticky;
}

#app[data-theme="light"] .navbar-wrapper {
  background-color: var(--background-light);
  color: var(--theme-colour-light-mode);
  border-bottom: 1px solid var(--border-dark);
}

#app[data-theme="dark"] .navbar-wrapper {
  background-color: var(--background-dark);
  color: var(--theme-colour-dark-mode);
  border-bottom: 1px solid var(--border-light);
}

.navbar-wrapper.hidden {
  display: none;
}

.navbar-wrapper #main-nav {
  grid-area: main-nav;
}

.navbar-wrapper #main-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.navbar-wrapper #main-nav ul li a {
  font-weight: 600;
}

.navbar-wrapper .theme-toggle-container {
  grid-area: theme-toggle;
}