nav {
  width: 100dvw;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

nav a {
  color: #48f0d4;
}

@media (min-width: 525px) {
  nav {
    gap: 3rem;
  }
}