footer {
  width: 100dvw;
  position: relative;
  bottom: 0;
  left: 0;
  /*for dark mode*/
  background-color: #48f0d4; 
  /*for light mode */
  /* background-color: #646cff;    */
}

footer nav a {
  font-weight: 700;
  color: #242424;
  text-decoration: none;
}
footer nav a:hover,
footer nav a:active {
  text-decoration: underline;
}

footer p {
  width: fit-content;
  font-size: 14px;
  text-align: center;
  color: #242424;
}