footer {
  width: 100dvw;
  position: relative;
  bottom: 0;
  left: 0;
  /*for dark mode*/
  background-color: var(--text-theme-dark); 
  /*for light mode */ 
  /* background-color: var(--text-theme-light); */
}

footer nav a {
  font-weight: 600;
  color: #242424;
  text-decoration: none;
}

footer nav a:hover,
footer nav a:active {
  text-decoration: underline;
}

footer p {
  width: fit-content;
  font-size: 14px;
  text-align: center;
  color: #242424;
}