footer {
  min-height: 5rem;
  width: 100dvw;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  /*for dark mode*/
  background-color: #48f0d4; 
  /*for light mode */
  /* background-color: #646cff;*/
}

footer span {
  color: #242424;
}