button#theme-toggle-btn {  
    background-color: transparent;
    color: var(--theme-text-dark);
}

.theme-toggle-dropdown-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 2%;
    z-index: 2;
    width: max-content;
    margin: 0;
    padding: .25em;
    background-color: var(--background-dark);
    border: 1px solid #f2f2f2;
}

.theme-toggle-dropdown-menu.hidden {
    display: none;
}

.theme-toggle-dropdown-menu ul {
    list-style: none;
}

.theme-toggle-dropdown-menu ul li button {
    width: -webkit-fill-available;
}

.theme-toggle-dropdown-menu ul li button::before {
    content: "";
    height: 1.475rem;
    width: 1.475rem;
    margin-right: 0.35em;
    mask-size: cover;
}

.theme-toggle-dropdown-menu ul li button#os-default::before {
    background-image: url("../../../src/assets/theme/dark-mode-theme-system.svg");
}

.theme-toggle-dropdown-menu ul li button#light-mode::before {
    background-image: url("../../../src/assets/theme/dark-mode-theme-light.svg");
}

.theme-toggle-dropdown-menu ul li button#dark-mode::before {
    background-image: url("../../../src/assets/theme/dark-mode-theme-dark.svg");
}