.theme-toggle-container {    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    position: relative;
    width: max-content;
    height: inherit;
    left: 100%;
    transform: translateX(-100%);
    border-radius: 1em;
    padding: .2em;
}

.theme-toggle-switch {
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.theme-toggle-switch + label {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
}

.theme-toggle-switch + label::before {
    content: "";
    width: 2em;
    height: 1em;
    border-radius: 1em;
}

.theme-toggle-switch + label::after {
    content: "";
    width: .8em;
    height: .8em;
    border-radius: 1em;
    position: absolute;
    left: .15em;
    transform: translateX(0);
    transition: transform var(--animation-timing-slower);
}

.theme-toggle-switch:checked + label::after {
    transform: translateX(100%);
    transition: transform var(--animation-timing-slower);
}

[data-theme="light"] .theme-toggle-switch + label::before {
    outline: 2px inset var(--border-dark);
    background: #F9F9F9;
    background: linear-gradient(57deg, rgba(249, 249, 249, 0.98) 0%, rgba(171, 171, 171, 0.96) 61%, rgba(36, 36, 36, 0.83) 85%);
    transition: outline var(--animation-timing-slower), background var(--animation-timing-slower);
}

[data-theme="light"] .theme-toggle-switch + label::after {
    background-color: var(--theme-colour-light-mode);
    border: 1px inset var(--background-light-hover);
    transition: background-color var(--animation-timing-slower), border var(--animation-timing-slower);
}

[data-theme="dark"] .theme-toggle-switch + label::before {
    outline: 2px inset var(--border-light);
    background: #919191;
    background: linear-gradient(57deg, rgba(145, 145, 145, 0.89) 0%, rgba(36, 36, 36, 0.79) 50%);
    transition: outline var(--animation-timing-slower), background var(--animation-timing-slower);
}

[data-theme="dark"] .theme-toggle-switch + label::after {
    background-color: var(--theme-colour-dark-mode);
    border: 1px inset var(--background-dark-hover);
    transition: background-color var(--animation-timing-slower), border var(--animation-timing-slower);
}

.light-mode-icon {
    margin-right: 0.375em;
}

.dark-mode-icon {
    margin-left: 0.375em;
}