#root {
  min-height: 100dvh;
  padding: 0;
}

#root main {
  padding: 1em;
  padding-bottom: 3em;
}

button {
  font-size: 1rem;
  font-family: inherit;
  border-radius: .4em;
  cursor: pointer;
  padding: .25em .5em;
  opacity: 1;
  
}

button:hover,
button:active {
  opacity: .65;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 0.25em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p, a {
  font-size: 1rem;
}

a {
  text-decoration: none;
  padding: .1em;
  opacity: 1;
  transition: opacity var(--animation-timing-default) text-decoration var(--animation-timing-default);
}

a:hover,
a:active {
  text-decoration: underline;
  opacity: .65;
  transition: opacity var(--animation-timing-default), text-decoration var(--animation-timing-default);
}

.sub-header-context {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0 0 1em;
}

.prevent-scroll {
  overflow: hidden;
}

#app {
  background: var(--background-dark);
  color: var(--theme-colour-dark-mode);
}

@media (prefers-color-scheme: light) {
  #app {
    background: var(--background-light);
    color: var(--text-dark);
  }

  button {
    background: var(--background-light);
    border: 1px solid var(--theme-colour-light-mode);
  }

  button:hover,
  button:active {
    background: var(--background-light-hover);
  }
}

@media (prefers-color-scheme: dark) {
  #app {
    background: var(--background-dark);
    color: var(--text-light);
  }

  button {
    background: var(--background-dark);
    border: 1px solid var(--theme-colour-dark-mode);
  }

  button:hover,
  button:active {
    background: var(--background-dark-hover);
  }
}

/* sm breakpoint */
@media (min-width: 640px) {
  #root main {
    padding: 1em 3em 3em;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  p, a {
    font-size: 1.125rem;
  }

}

/* lg breakpoint */
@media (min-width: 1024px) { 
  #root main {
    padding: 2em 10vw 3em;
  }

  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p, a {
    font-size: 1.25rem;
  }
}