#root {
  min-height: 100dvh;
  padding: 0;
  
  /* background: var(--background-light);
  color: var(--text-dark); */
}

#root main {
  padding: 1em;
  padding-bottom: 3em;
}

button {
  font-size: 1rem;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  opacity: 1;

  & :hover,
  & :active {
    opacity: 0.7; 
  }
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 0.25em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p, a {
  font-size: 1rem;
}

a {
  padding: .1em;
}

.sub-header-context {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0 0 1em;
}

.prevent-scroll {
  overflow: hidden;
}

/* sm breakpoint */
@media (min-width: 640px) {
  #root main {
    padding: 1em 3em 3em;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  p, a {
    font-size: 1.125rem;
  }

}

/* lg breakpoint */
@media (min-width: 1024px) { 
  #root main {
    padding: 2em 10vw 3em;
  }

  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p, a {
    font-size: 1.25rem;
  }
}