@import "tailwindcss";

:root {

  /* typography */
  font-family:  "Exo 2", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --border-light: #f9f9f9;
  --text-light: #f9f9f9;
  --border-dark: #242424;
  --text-dark: #242424;

  /* mobile nav menu vars */
  --nav-menu-btn-bar-width: 2rem;
  --nav-menu-btn-bar-height: .375rem;
  --nav-menu-btn-bar-gap: .25rem;
  --nav-menu-btn-height: calc(var(--nav-menu-btn-bar-height) * 3 + var(--nav-menu-btn-bar-gap) * 2);
  --animation-timing-faster: 50ms ease-in-out;
  --animation-timing-fast: 100ms ease-in-out;
  --animation-timing-default: 150ms ease-in-out;
  --animation-timing-slow: 200ms ease-in-out;
  --animation-timing-slower: 250ms ease-in-out;
}

[data-theme="light"] {
  --background-light: #f9f9f9;
  --background-light-hover: #dcdcdc4a;
  --theme-colour-light-mode: #540cf7;
}

[data-theme="dark"] {
  --background-dark: #242424;
  --background-dark-hover: #39393999;
  --theme-colour-dark-mode: #0efdd5;
}

#root {
  min-height: 100dvh;
  padding: 0;
}

#root main {
  font-weight: 300;
  padding: 1.25em;
  padding-bottom: 3em;
}

button {
  font-size: 1rem;
  font-family: inherit;
  border-radius: .4em;
  cursor: pointer;
  padding: .25em .5em;
  opacity: 1;
}

button:hover {
  opacity: .75;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0 0 0.25em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p, a {
  font-size: 1rem;
}

a {
  text-decoration: none;
  padding: .1em;
  opacity: 1;
  transition: opacity var(--animation-timing-default) text-decoration var(--animation-timing-default);
}

a:hover,
a.active {
  text-decoration: underline;
  opacity: .75;
  transition: opacity var(--animation-timing-default), text-decoration var(--animation-timing-default);
}

.sub-header-context {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0 0 1em;
}

.prevent-scroll {
  overflow: hidden;
}

.screen-reader-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

#app[data-theme="light"] {
  background-color: var(--background-light);
  color: var(--text-dark);
  transition: background-color var(--animation-timing-slower), color var(--animation-timing-slower);

  button {
    background-color: var(--background-light);
    border: 1px solid var(--theme-colour-light-mode);
    transition: background-color var(--animation-timing-slower), border var(--animation-timing-slower);
  }

  button:hover {
    background-color: var(--background-light-hover);
    transition: background-color var(--animation-timing-default);
  }
}

#app[data-theme="dark"] {
  background-color: var(--background-dark);
  color: var(--text-light);
  transition: background-color var(--animation-timing-slower), color var(--animation-timing-slower);

  button {
    background-color: var(--background-dark);
    border: 1px solid var(--theme-colour-dark-mode);
    transition: background-color var(--animation-timing-slower), border var(--animation-timing-slower);
  }

  button:hover {
    background-color: var(--background-dark-hover);
    transition: background-color var(--animation-timing-default);
  }
}

/* sm breakpoint */
@media (min-width: 640px) {
  #root main {
    padding: 1em 3em 3em;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  p, a {
    font-size: 1.125rem;
  }
}

/* lg breakpoint */
@media (min-width: 1024px) {
  #root main {
    padding: 2em 10vw 3em;
  }

  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p, a {
    font-size: 1.25rem;
  }
}