#root {
  min-height: 100dvh;
  padding: 0;
}

#root main {
  padding: 1em;
  padding-bottom: 3em; /* to prevent content from being hidden behind the footer */
}

button {
  font-size: 1rem;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  opacity: 1;

  & :hover,
  & :active {
    opacity: 0.7; 
  }
}

/* Typography */
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 0.25em;
}

.sub-header-context {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0 0 1em;
}

.prevent-scroll {
  overflow: hidden;
}