@import "tailwindcss";

:root {

  /* typography */
  font-family:  "Exo 2", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* colour scheme */
  color-scheme: light dark;
   --background-dark: #242424;
  --background-dark-hover: #39393999;
  --background-light: #f9f9f9;
  --background-light-hover: #dcdcdc4a;
  --border-dark: #242424;
  --border-light: #f9f9f9;
  --text-dark: #242424;
  --text-light: #f9f9f9;
  --theme-colour-dark-mode: #0efdd5;
  --theme-colour-light-mode: #540cf7;

  /* mobile nav menu vars */
  --nav-menu-btn-bar-width: 2rem;
  --nav-menu-btn-bar-height: .375rem;
  --nav-menu-btn-bar-gap: .25rem;
  --nav-menu-btn-height: calc(var(--nav-menu-btn-bar-height) * 3 + var(--nav-menu-btn-bar-gap) * 2);
  --animation-timing: 150ms ease-in-out;
}